<form #taskForm="ngForm" (ngSubmit)="close()">
  <h1 md-dialog-title>Create a task</h1>

  <md-dialog-content>
    <div>
      <md-input-container>
        <input type="text" name="title" placeholder="Title" required autofocus mdInput [(ngModel)]="task.title" #title="ngModel">
        <md-error *ngIf="title.hasError('required')">This field is required.</md-error>
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <textarea name="description" placeholder="Description" [(ngModel)]="task.description" mdInput></textarea>
      </md-input-container>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <button type="reset" md-button md-dialog-close>Cancel</button>
    <button type="submit" md-raised-button color="primary" [disabled]="!taskForm.form.valid">{{confirmationText}}</button>
  </md-dialog-actions>
</form>
