<form #taskForm="ngForm" (ngSubmit)="close()">
  <h1 mat-dialog-title>Create a task</h1>

  <mat-dialog-content>
    <div>
      <mat-input-container>
        <input type="text" name="title" placeholder="Title" required autofocus matInput [(ngModel)]="task.title" #title="ngModel">
        <mat-error *ngIf="title.hasError('required')">This field is required.</mat-error>
      </mat-input-container>
    </div>

    <div>
      <mat-input-container>
        <textarea name="description" placeholder="Description" [(ngModel)]="task.description" matInput></textarea>
      </mat-input-container>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="reset" mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!taskForm.form.valid">{{confirmationText}}</button>
  </mat-dialog-actions>
</form>
