body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.md-fab-bottom-right {
  position: fixed !important;
  right: 20px;
  bottom: 20px;
}

[md-button], [md-raised-button] {
  text-transform: uppercase;
}
